<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>User Info</title>

    <!-- slider stylesheet -->
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css" />
    <!-- font awesome style -->
    <link rel="stylesheet" type="text/css" href="stylesheets/font-awesome.min.css" />

    <!-- Custom styles for this template -->
    <link href="stylesheets/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="stylesheets/responsive.css" rel="stylesheet" />


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f7f7f7;
        }

        .user-info-section {
            margin: 50px auto;
            max-width: 600px;
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        }

        .user-info-section h2 {
            text-align: center;
            margin-bottom: 20px;
            font-weight: bold;
            color: #333;
        }

        .form-group {
            margin-bottom: 20px;
        }

        .form-group label {
            font-weight: bold;
            color: #555;
        }

        .form-group input {
            width: 100%;
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 5px;
            color: #333;
        }

        .btn-update-info {
            display: block;
            width: 100%;
            padding: 10px;
            font-size: 16px;
            background-color: #12e34d;
            color: white;
            border: none;
            border-radius: 5px;
            text-align: center;
            text-decoration: none;
        }

        .btn-change-password:hover {
            background-color: #0056b3;
            text-decoration: none;
        }
    </style>
</head>

<body>
    <%- include('../partials/header')%>
    <%- include('../partials/flash') %>
    <div class="user-info-section">
        <h2>Thông Tin Người Dùng</h2>
        <form action="/profile/<%= currentUser.id %>?_method=PUT" , method="POST">
            <!-- Username -->
            <div class="form-group">
                <label for="username">Tên đăng nhập:</label>
                <input id="username" type="text" value="<%= currentUser.username %>" name="user[username]" readonly />
            </div>
            <div class="form-group">
                <label for="sdt">Số điện thoại:</label>
                <input id="sdt" type="text" value="<%= currentUser.sdt %>" name="user[sdt]" />
            </div>
            <div class="form-group">
                <label for="cccd">Căn cước công dân:</label>
                <input id="cccd" type="text" value="<%= currentUser.can_cuoc_cong_dan %>"
                    name="user[can_cuoc_cong_dan]" />
            </div>
            <div class="form-group">
                <label for="edit-gender">Giới tính:</label>
                <select id="edit-gender" class="form-control" name="user[gioi_tinh]">
                    <% if (currentUser.gioi_tinh == "Nam") { %>
                    <option value="Nam" selected="selected">Nam</option>
                    <option value="Nữ">Nữ</option>
                    <option value="Khác">Khác</option>
                    <% } else if (currentUser.gioi_tinh == "Nữ") { %>
                    <option value="Nam">Nam</option>
                    <option value="Nữ" selected="selected">Nữ</option>
                    <option value="Khác">Khác</option>
                    <% } else { %>
                    <option value="Nam">Nam</option>
                    <option value="Nữ">Nữ</option>
                    <option value="Khác" selected="selected">Khác</option>
                    <% } %>
                </select>
            </div>
            <div class="form-group">
                <label for="address">Địa chỉ:</label>
                <input id="address" type="text" value="<%= currentUser.dia_chi %>" name="user[dia_chi]" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-update-info">Cập nhật thông tin</a>
            </div>
            <div class="link-container d-flex justify-content-center align-items-center flex-column">
                <h3> <a href="/change_password" class="btn btn-info">Đổi mật khẩu</a></h3>
            </div>
        </form>

    </div>

    <%- include('../partials/footer_infosection')%>

    <!-- JavaScript -->
    <script src="javascripts/jquery-3.4.1.min.js"></script>
    <script src="javascripts/bootstrap.js"></script>
</body>

</html>